name: Variables

on:
  workflow_dispatch:

env:
  variable_global: VARIABLE GLOBAL


jobs:
  job-1:
    runs-on: ubuntu-latest
    env:
      variable_job: VARIABLE JOB
    steps:
      - name: step 1 del job-1
        run: |
          echo "El valor de la variable global es $variable_global"
          echo "Otra forma de escribir la variable es ${{ env.variable_global }}"
          echo "También podemos definir variables a nivel de job: ${{ env.variable_job }}"
          echo "También podemos definir variables a nivel de ENV: ${{ env.variable_step }}"
        env:
          variable-step: VARIABLE STEP

      - name: step 2 del job-1
        run: |
          echo "Otra forma de escribir la variable es ${{ env.variable_global }}"
          echo "También podemos definir variables a nivel de job: ${{ env.variable_job }}"
          echo "También podemos definir variables a nivel de ENV: ${{ env.variable_step }}"

  job-2:
    runs-on: ubuntu-latest
    steps:
      - name: step 1 del job-2
        run: |
          echo "El valor de la variable global es $variable_global"
